################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/TinyCsv/TinyCsv/obj
/src/TinyCsv/.vs/TinyCsv/v17
/src/TinyCsv/TinyCsv/bin/Debug/netstandard2.1
/src/TinyCsv/.vs/TinyCsv/DesignTimeBuild
/src/TinyCsv/bin/Debug/netstandard2.1
/src/TinyCsv/obj
/src/.vs/TinyCsv/v17/.suo
/samples/CsvSampleConsoleApp/.vs/CsvSampleConsoleApp/v17
/samples/CsvSampleConsoleApp/CsvSampleConsoleApp/bin/Debug/net5.0
/samples/CsvSampleConsoleApp/CsvSampleConsoleApp/obj
/src/.vs/TinyCsv
/samples/CsvSampleConsoleApp/.vs/CsvSampleConsoleApp/DesignTimeBuild
/samples/CsvSampleConsoleApp/bin/Debug/net5.0
/samples/.vs/CsvSampleConsoleApp/v17
/samples/CsvSampleConsoleApp/obj
/samples/.vs/CsvSampleConsoleApp/DesignTimeBuild
/src/TinyCsv/bin/Debug
/src/TinyCsv/bin/Release
/samples/CsvSampleConsoleApp/bin/Release/net5.0
/samples/ConsoleApp1/obj
/samples/.vs/CsvSampleConsoleApp/FileContentIndex
/src/.vs/ProjectEvaluation/tinycsv.metadata.v2
/samples/.vs/ProjectEvaluation
/src/.vs/ProjectEvaluation
/src/TinyCsv.Extensions/bin/Release
/src/TinyCsv.Extensions/obj
/samples/.vs/CsvSamples
/samples/CsvSampleMinimalWebApiApp/bin/Debug/net6.0
/samples/CsvSampleMinimalWebApiApp/obj
/src/TinyCsv.Extensions/bin/Debug
/src/TinyCsv.Extensions.AspNetCore/bin/Debug
/src/TinyCsv.Extensions.AspNetCore/obj
/src/TinyCsv.AspNetCore/bin/Debug
/src/TinyCsv.AspNetCore/obj
/src/TinyCsv.AspNetCore/bin/Release
/samples/CsvSampleMinimalWebApiApp/bin/Release/net6.0
/samples/CsvSampleConsoleAttributeApp/bin/Debug/net5.0
/samples/CsvSampleConsoleAttributeApp/obj
*.user
/samples/CsvSampleConsoleApp/bin/Debug/net7.0
/samples/CsvSampleConsoleAttributeApp/bin/Debug/net7.0
/samples/CsvSampleMinimalWebApiApp/bin/Debug/net7.0
/samples/CsvBigDataSampleConsoleApp/bin/Debug/net6.0
/samples/CsvBigDataSampleConsoleApp/obj
/Benchmark/.vs/Benchmark
/Benchmark/BenchmarkConsoleApp/bin/Release/net6.0
/Benchmark/BenchmarkConsoleApp/obj
/Benchmark/BenchmarkConsoleApp/bin/Debug/net6.0
/samples/CsvSampleConsoleApp/bin/Release/net7.0
